:root {
  --accent: #4985ff;
  --main-title-color: #ffffff;
  --main-text-color: #999999;
  --secondary-title-color: #323232;
  --white-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

ul {
  list-style: none;
}

.container {
  width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid tomato;
}
/* Шапка */

.header {
  background-color: #323232;
}

.main {
  border-bottom: 1px solid #a1a1a1;
}

.menu-list {
  display: flex;
  justify-content: flex-end;
}

.menu-item {
  margin-right: 40px;
}

.menu-item:last-child {
  margin-right: 0;
}

.menu-link {
  display: block;
  padding-top: 40px;
  padding-bottom: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--white-color);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent);
}

.link {
  text-decoration: none;
}

/* Герой */

.hero {
  background-color: #323232;
  text-align: center;
}

.hero-text {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--white-color);
}

.hero-title {
  margin-bottom: 50px;
  font-weight: 800;
  font-size: 48px;
  line-height: 1.33;
  color: var(--white-color);
}

.button {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 45px;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: var(--white-color);

  background: var(--accent);
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;

  /* Какой вариантт лучше */

  /* display: inline-block;
  padding: 15px 36px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: var(--white-color);
  background-color: var(--accent);
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px; */
}

/* Мобильные приложения */

.mobile {
  padding-top: 110px;
  padding-bottom: 105px;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.47;
}

.mobile-title {
  margin-bottom: 50px;
  text-align: center;
  color: var(--secondary-title-color);
}

.page-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.56;
  color: var(--main-text-color);
}

.mobile-text {
  margin-bottom: 70px;
  text-align: center;
}

.mobile-list {
  display: flex;
  margin-bottom: 55px;
}

.mobile-item {
  margin-right: 27px;
}

.mobile-item:last-child {
  margin-right: 0;
}

.mobile-item-title {
  margin-bottom: 12px;
}

.mobile-item-title,
.footer-item-title,
.subscription-item-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: #000000;
}

.mobile-item-text,
.footer-item-text {
  font-size: 14px;
}

/* Стандарты разработки */

.standart {
  background-color: #f6f6f8;
  padding-top: 100px;
  padding-bottom: 70px;
}

.development {
  display: flex;
  padding-bottom: 90px;
  border-bottom: 1px solid #e0e0e0;
}

.development-description {
  margin-right: 121px;
}

.standart-title {
  margin-bottom: 40px;
}

.standart-text {
  margin-bottom: 30px;
}

.details {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--accent);
}

.standart-list {
  display: flex;
  justify-content: center;
  padding-top: 70px;
}

.standart-item {
  margin-right: 100px;
  text-align: right;
}

.standart-item:last-child {
  margin-right: 0;
}

.standart-item span {
  margin-bottom: 17px;
  font-size: 36px;
  line-height: 1.47;
  color: #000000;
}

/* Наши работы */

.works {
  background-color: #504dc2;
  padding-top: 100px;
  padding-bottom: 85px;
}

.specialty {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.works-item-title {
  margin-bottom: 30px;
}

.works-text {
  margin-bottom: 30px;
}
.works-item-title span {
  color: var(--accent);
}

.works-title {
  width: 540px;
  margin-right: 370px;
  margin-bottom: 70px;
  color: var(--main-title-color);
}
.works-list {
  display: flex;
  padding-bottom: 85px;
  border-bottom: 1px solid #e0e0e0;
}

.works-item {
  margin-right: 30px;
}

.works-item:last-child {
  margin-right: 0px;
}

.works-image {
  margin-bottom: 30px;
}

/* Наши проекты */

.projects {
  padding-top: 100px;
  padding-bottom: 130px;
}

.projects-title {
  margin-bottom: 50px;
}

.projects-text {
  margin-bottom: 70px;
}

.projects-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.projects-title,
.projects-text,
.video-title,
.video-text,
.subscription-item-title,
.subscription-text {
  text-align: center;
}

/* Видео о работе */

.video {
  padding-bottom: 85px;
  background-color: #323232;
  text-align: center;
}

.video-title {
  margin-bottom: 30px;
  color: var(--main-title-color);
}

.video-text {
  margin-bottom: 235px;
}
.video-button {
  min-width: 300px;
  padding: 40px 29px 40px 21px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.56;
  color: var(--main-title-color);

  background-color: transparent;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 200px;
}

/* Подписка */

.subscription {
  margin-top: 85px;
  margin-bottom: 85px;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: 1px;
}

.subscription-item-title {
  margin-bottom: 20px;
}

.subscription-text {
  margin-bottom: 30px;
}

.subscription-button {
  margin-bottom: 35px;
}

/* Футер */

.footer {
  padding-top: 70px;
  padding-bottom: 30px;
  background-color: #f6f6f8;
}

.footer-list {
  display: flex;
  justify-content: space-between;
  padding-bottom: 70px;
  border-bottom: 1px solid #e0e0e0;
}

.footer-item-title {
  margin-bottom: 35px;
}

.footer-subitem {
  margin-bottom: 30px;
}
.address {
  font-style: normal;
}

.copyright {
  padding-top: 30px;
  font-size: 13px;
  line-height: 1.62;
  text-align: center;
  color: var(--main-text-color);
}
